# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.gitignore
.idea/workspace.xml
PropertyRegister/__pycache__/
PropertyRegister/app/__pycache__/
PropertyRegister/app/migrations/__pycache__/
PropertyRegister/app/migrations/versions/__pycache__/
venv/Include/
venv/Lib/site-packages/MySQLdb/__pycache__/
venv/Lib/site-packages/MySQLdb/constants/__pycache__/
venv/Lib/site-packages/PIL/__pycache__/
venv/Lib/site-packages/__pycache__/
venv/Lib/site-packages/adodbapi/__pycache__/
venv/Lib/site-packages/adodbapi/examples/__pycache__/
venv/Lib/site-packages/adodbapi/test/__pycache__/
venv/Lib/site-packages/aip/__pycache__/
venv/Lib/site-packages/alembic/__pycache__/
venv/Lib/site-packages/alembic/autogenerate/__pycache__/
venv/Lib/site-packages/alembic/ddl/__pycache__/
venv/Lib/site-packages/alembic/operations/__pycache__/
venv/Lib/site-packages/alembic/runtime/__pycache__/
venv/Lib/site-packages/alembic/script/__pycache__/
venv/Lib/site-packages/alembic/templates/generic/__pycache__/
venv/Lib/site-packages/alembic/templates/multidb/__pycache__/
venv/Lib/site-packages/alembic/templates/pylons/__pycache__/
venv/Lib/site-packages/alembic/testing/__pycache__/
venv/Lib/site-packages/alembic/testing/plugin/__pycache__/
venv/Lib/site-packages/alembic/util/__pycache__/
venv/Lib/site-packages/asn1crypto/__pycache__/
venv/Lib/site-packages/asn1crypto/_perf/__pycache__/
venv/Lib/site-packages/babel/__pycache__/
venv/Lib/site-packages/babel/localtime/__pycache__/
venv/Lib/site-packages/babel/messages/__pycache__/
venv/Lib/site-packages/certifi/__pycache__/
venv/Lib/site-packages/cffi/__pycache__/
venv/Lib/site-packages/chardet/__pycache__/
venv/Lib/site-packages/chardet/cli/__pycache__/
venv/Lib/site-packages/click/__pycache__/
venv/Lib/site-packages/colorama/__pycache__/
venv/Lib/site-packages/cryptography/__pycache__/
venv/Lib/site-packages/cryptography/hazmat/__pycache__/
venv/Lib/site-packages/cryptography/hazmat/backends/__pycache__/
venv/Lib/site-packages/cryptography/hazmat/backends/openssl/__pycache__/
venv/Lib/site-packages/cryptography/hazmat/bindings/__pycache__/
venv/Lib/site-packages/cryptography/hazmat/bindings/openssl/__pycache__/
venv/Lib/site-packages/cryptography/hazmat/primitives/__pycache__/
venv/Lib/site-packages/cryptography/hazmat/primitives/asymmetric/__pycache__/
venv/Lib/site-packages/cryptography/hazmat/primitives/ciphers/__pycache__/
venv/Lib/site-packages/cryptography/hazmat/primitives/kdf/__pycache__/
venv/Lib/site-packages/cryptography/hazmat/primitives/twofactor/__pycache__/
venv/Lib/site-packages/cryptography/x509/__pycache__/
venv/Lib/site-packages/dateutil/__pycache__/
venv/Lib/site-packages/dateutil/parser/__pycache__/
venv/Lib/site-packages/dateutil/tz/__pycache__/
venv/Lib/site-packages/dateutil/zoneinfo/__pycache__/
venv/Lib/site-packages/defusedxml/__pycache__/
venv/Lib/site-packages/examples/__pycache__/
venv/Lib/site-packages/flask/__pycache__/
venv/Lib/site-packages/flask/ext/__pycache__/
venv/Lib/site-packages/flask_appbuilder/__pycache__/
venv/Lib/site-packages/flask_appbuilder/babel/__pycache__/
venv/Lib/site-packages/flask_appbuilder/charts/__pycache__/
venv/Lib/site-packages/flask_appbuilder/models/__pycache__/
venv/Lib/site-packages/flask_appbuilder/models/generic/__pycache__/
venv/Lib/site-packages/flask_appbuilder/models/mon
goengine/__pycache__/
venv/Lib/site-packages/flask_appbuilder/models/sqla/__pycache__/
venv/Lib/site-packages/flask_appbuilder/security/__pycache__/
venv/Lib/site-packages/flask_appbuilder/security/mongoengine/__pycache__/
venv/Lib/site-packages/flask_appbuilder/security/sqla/__pycache__/
venv/Lib/site-packages/flask_appbuilder/tests/__init__.pyc
venv/Lib/site-packages/flask_appbuilder/tests/__pycache__/
venv/Lib/site-packages/flask_appbuilder/tests/test_base.pyc
venv/Lib/site-packages/flask_appbuilder/tests/test_fabmanager.pyc
venv/Lib/site-packages/flask_appbuilder/tests/test_mongoengine.pyc
venv/Lib/site-packages/flask_appbuilder/tests/test_sqlalchemy.pyc
venv/Lib/site-packages/flask_appbuilder/translations/__init__.pyc
venv/Lib/site-packages/flask_appbuilder/translations/__pycache__/
venv/Lib/site-packages/flask_appbuilder/translations/es/LC_MESSAGES/messages.po~
venv/Lib/site-packages/flask_appbuilder/translations/pt/LC_MESSAGES/messages.po~
venv/Lib/site-packages/flask_babel/__pycache__/
venv/Lib/site-packages/flask_migrate/__pycache__/
venv/Lib/site-packages/flask_migrate/templates/flask-multidb/__pycache__/
venv/Lib/site-packages/flask_migrate/templates/flask/__pycache__/
venv/Lib/site-packages/flask_script/__pycache__/
venv/Lib/site-packages/flask_sqlalchemy/__pycache__/
venv/Lib/site-packages/flask_wtf/__pycache__/
venv/Lib/site-packages/flask_wtf/recaptcha/__pycache__/
venv/Lib/site-packages/idna/__pycache__/
venv/Lib/site-packages/isapi/__pycache__/
venv/Lib/site-packages/isapi/samples/__pycache__/
venv/Lib/site-packages/isapi/test/__pycache__/
venv/Lib/site-packages/jinja2/__pycache__/
venv/Lib/site-packages/mako/__pycache__/
venv/Lib/site-packages/mako/ext/__pycache__/
venv/Lib/site-packages/markupsafe/__pycache__/
venv/Lib/site-packages/openid/__pycache__/
venv/Lib/site-packages/openid/consumer/__pycache__/
venv/Lib/site-packages/openid/extensions/__pycache__/
venv/Lib/site-packages/openid/extensions/draft/__pycache__/
venv/Lib/site-packages/openid/server/__pycache__/
venv/Lib/site-packages/openid/store/__pycache__/
venv/Lib/site-packages/openid/yadis/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_internal/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_internal/commands/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_internal/models/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_internal/operations/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_internal/req/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_internal/utils/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_internal/vcs/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/cachecontrol/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/cachecontrol/caches/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/certifi/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/chardet/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/colorama/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/distlib/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/html5lib/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_ven
dor/html5lib/_trie/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/html5lib/treebuilders/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/html5lib/treewalkers/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/idna/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/lockfile/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/msgpack/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/pkg_resources/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/progress/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/pytoml/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/requests/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/urllib3/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/urllib3/contrib/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/urllib3/packages/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/urllib3/util/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_vendor/webencodings/__pycache__/
venv/Lib/site-packages/pip/__pycache__/
venv/Lib/site-packages/pip/_internal/__pycache__/
venv/Lib/site-packages/pip/_internal/commands/__pycache__/
venv/Lib/site-packages/pip/_internal/models/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/__pycache__/
venv/Lib/site-packages/pip/_internal/req/__pycache__/
venv/Lib/site-packages/pip/_internal/utils/__pycache__/
venv/Lib/site-packages/pip/_internal/vcs/__pycache__/
venv/Lib/site-packages/pip/_vendor/__pycache__/
venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/
venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/__pycache__/
venv/Lib/site-packages/pip/_vendor/certifi/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/cli/__pycache__/
venv/Lib/site-packages/pip/_vendor/colorama/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/_backport/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/_trie/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/filters/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treeadapters/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treebuilders/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treewalkers/__pycache__/
venv/Lib/site-packages/pip/_vendor/idna/__pycache__/
venv/Lib/site-packages/pip/_vendor/lockfile/__pycache__/
venv/Lib/site-packages/pip/_vendor/msgpack/__pycache__/
venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pip/_vendor/pkg_resources/__pycache__/
venv/Lib/site-packages/pip/_vendor/progress/__pycache__/
venv/Lib/site-packages/pip/_vendor/pytoml/__pycache__/
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/contrib/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/contrib/_securetransport/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/__pycache__/
Would
remove venv/Lib/site-packages/pip/_vendor/urllib3/packages/backports/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/
venv/Lib/site-packages/pip/_vendor/webencodings/__pycache__/
venv/Lib/site-packages/pkg_resources/__pycache__/
venv/Lib/site-packages/pkg_resources/_vendor/__pycache__/
venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pkg_resources/extern/__pycache__/
venv/Lib/site-packages/pycparser/__init__.pyc
venv/Lib/site-packages/pycparser/__pycache__/
venv/Lib/site-packages/pycparser/_ast_gen.pyc
venv/Lib/site-packages/pycparser/ast_transforms.pyc
venv/Lib/site-packages/pycparser/c_ast.pyc
venv/Lib/site-packages/pycparser/c_lexer.pyc
venv/Lib/site-packages/pycparser/c_parser.pyc
venv/Lib/site-packages/pycparser/lextab.pyc
venv/Lib/site-packages/pycparser/ply/__init__.pyc
venv/Lib/site-packages/pycparser/ply/__pycache__/
venv/Lib/site-packages/pycparser/ply/lex.pyc
venv/Lib/site-packages/pycparser/ply/yacc.pyc
venv/Lib/site-packages/pycparser/plyparser.pyc
venv/Lib/site-packages/pycparser/yacctab.pyc
venv/Lib/site-packages/pymysql/__pycache__/
venv/Lib/site-packages/pymysql/constants/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/Demos/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/Demos/app/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/Demos/ocx/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/debugger/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/dialogs/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/docking/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/framework/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/framework/editor/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/framework/editor/color/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/idle/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/mfc/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/scintilla/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/tools/__pycache__/
venv/Lib/site-packages/pytz/__pycache__/
venv/Lib/site-packages/requests/__pycache__/
venv/Lib/site-packages/setuptools/__pycache__/
venv/Lib/site-packages/setuptools/_vendor/__pycache__/
venv/Lib/site-packages/setuptools/_vendor/packaging/__pycache__/
venv/Lib/site-packages/setuptools/command/__pycache__/
venv/Lib/site-packages/setuptools/extern/__pycache__/
venv/Lib/site-packages/sqlalchemy/__pycache__/
venv/Lib/site-packages/sqlalchemy/connectors/__pycache__/
venv/Lib/site-packages/sqlalchemy/databases/__pycache__/
venv/Lib/site-packages/sqlalchemy/dialects/__pycache__/
venv/Lib/site-packages/sqlalchemy/dialects/firebird/__pycache__/
venv/Lib/site-packages/sqlalchemy/dialects/mssql/__pycache__/
venv/Lib/site-packages/sqlalchemy/dialects/mysql/__pycache__/
venv/Lib/site-packages/sqlalchemy/dialects/oracle/__pycache__/
venv/Lib/site-packages/sqlalchemy/dialects/postgresql/__pycache__/
venv/Lib/site-packages/sqlalchemy/dialects/sqlite/__pycache__/
venv/Lib/site-packages/sqlalchemy/dialects/sybase/__pycache__/
venv/Lib/site-packages/sqlalchemy/engine/__pycache__/
venv/Lib/site-packages/sqlalchemy/event/__pycache__/
venv/Lib/site-packages/sqlalchemy/ext/__pycache__/
venv/Lib/site-packages
/sqlalchemy/ext/declarative/__pycache__/
venv/Lib/site-packages/sqlalchemy/orm/__pycache__/
venv/Lib/site-packages/sqlalchemy/sql/__pycache__/
venv/Lib/site-packages/sqlalchemy/testing/__pycache__/
venv/Lib/site-packages/sqlalchemy/testing/plugin/__pycache__/
venv/Lib/site-packages/sqlalchemy/testing/suite/__pycache__/
venv/Lib/site-packages/sqlalchemy/util/__pycache__/
venv/Lib/site-packages/urllib3/__pycache__/
venv/Lib/site-packages/urllib3/contrib/__pycache__/
venv/Lib/site-packages/urllib3/contrib/_securetransport/__pycache__/
venv/Lib/site-packages/urllib3/packages/__pycache__/
venv/Lib/site-packages/urllib3/packages/backports/__pycache__/
venv/Lib/site-packages/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/urllib3/util/__pycache__/
venv/Lib/site-packages/werkzeug/__pycache__/
venv/Lib/site-packages/werkzeug/contrib/__pycache__/
venv/Lib/site-packages/werkzeug/debug/__pycache__/
venv/Lib/site-packages/win32/Demos/__pycache__/
venv/Lib/site-packages/win32/Demos/c_extension/__pycache__/
venv/Lib/site-packages/win32/Demos/dde/__pycache__/
venv/Lib/site-packages/win32/Demos/pipes/__pycache__/
venv/Lib/site-packages/win32/Demos/security/__pycache__/
venv/Lib/site-packages/win32/Demos/security/sspi/__pycache__/
venv/Lib/site-packages/win32/Demos/service/__pycache__/
venv/Lib/site-packages/win32/Demos/win32wnet/__pycache__/
venv/Lib/site-packages/win32/lib/__pycache__/
venv/Lib/site-packages/win32/scripts/VersionStamp/__pycache__/
venv/Lib/site-packages/win32/scripts/__pycache__/
venv/Lib/site-packages/win32/scripts/ce/__pycache__/
venv/Lib/site-packages/win32/test/__pycache__/
venv/Lib/site-packages/win32com/__pycache__/
venv/Lib/site-packages/win32com/client/__pycache__/
venv/Lib/site-packages/win32com/demos/__pycache__/
venv/Lib/site-packages/win32com/makegw/__pycache__/
venv/Lib/site-packages/win32com/server/__pycache__/
venv/Lib/site-packages/win32com/servers/__pycache__/
venv/Lib/site-packages/win32com/test/__pycache__/
venv/Lib/site-packages/win32comext/adsi/__pycache__/
venv/Lib/site-packages/win32comext/adsi/demos/__pycache__/
venv/Lib/site-packages/win32comext/authorization/__pycache__/
venv/Lib/site-packages/win32comext/authorization/demos/__pycache__/
venv/Lib/site-packages/win32comext/axcontrol/__pycache__/
venv/Lib/site-packages/win32comext/axdebug/__pycache__/
venv/Lib/site-packages/win32comext/axscript/__pycache__/
venv/Lib/site-packages/win32comext/axscript/client/__pycache__/
venv/Lib/site-packages/win32comext/axscript/server/__pycache__/
venv/Lib/site-packages/win32comext/axscript/test/__pycache__/
venv/Lib/site-packages/win32comext/bits/__pycache__/
venv/Lib/site-packages/win32comext/bits/test/__pycache__/
venv/Lib/site-packages/win32comext/directsound/__pycache__/
venv/Lib/site-packages/win32comext/directsound/test/__pycache__/
venv/Lib/site-packages/win32comext/ifilter/__pycache__/
venv/Lib/site-packages/win32comext/ifilter/demo/__pycache__/
venv/Lib/site-packages/win32comext/internet/__pycache__/
venv/Lib/site-packages/win32comext/mapi/__pycache__/
venv/Lib/site-packages/win32comext/mapi/demos/__pycache__/
venv/Lib/site-packages/win32comext/propsys/__pycache__/
venv/Lib/site-packages/win32comext/propsys/test/__pycache__/
venv/Lib/site-packages/win32comext/shell/__pycache__/
venv/Lib/site-packages/win32comext/shell/demos/_
_pycache__/
venv/Lib/site-packages/win32comext/shell/demos/servers/__pycache__/
venv/Lib/site-packages/win32comext/shell/test/__pycache__/
venv/Lib/site-packages/win32comext/taskscheduler/__pycache__/
venv/Lib/site-packages/win32comext/taskscheduler/test/__pycache__/
venv/Lib/site-packages/wtforms/__pycache__/
venv/Lib/site-packages/wtforms/csrf/__pycache__/
venv/Lib/site-packages/wtforms/ext/__pycache__/
venv/Lib/site-packages/wtforms/ext/appengine/__pycache__/
venv/Lib/site-packages/wtforms/ext/csrf/__pycache__/
venv/Lib/site-packages/wtforms/ext/dateutil/__pycache__/
venv/Lib/site-packages/wtforms/ext/django/__pycache__/
venv/Lib/site-packages/wtforms/ext/django/templatetags/__pycache__/
venv/Lib/site-packages/wtforms/ext/i18n/__pycache__/
venv/Lib/site-packages/wtforms/ext/sqlalchemy/__pycache__/
venv/Lib/site-packages/wtforms/fields/__pycache__/
venv/Lib/site-packages/wtforms/widgets/__pycache__/
venv/Scripts/__pycache__/
